*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}



/*.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  gap: 20px;
 
}*/

.pagesBtn{
  width:40px;
  margin: 5px;
  height:40px;
  background:white;
  color:black;
}




 

.ganres {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
}
.ganres>button {
  padding: 14px 20px;
  background-color:rgba(255, 0, 0, 0.885) ;
 border: 1px solid #fff;
  color:#fff ;
}







img {

  border: 2px solid #fff
}

